/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: #fff;
$accent-color: #13B5EA;
$background-accent: #EFF1F3;


body {
  background-color: $primary-background;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: $accent-color;
  display: flex;
  align-items: center;
  & .headline {
    color: $primary-background;
    margin: 0;
    padding: 15px;
    font-size: 48px;
  }
  & .bell__logo {
    width: 40px;
  }
}

.nav--bar {
  display: flex;
  align-content: space-between;
  height: 45px;
  & button {
    flex: 1;
    height: 50px;
    background-color: $primary-background;
    font-size: 16px;
  }
}

main {
  box-sizing: border-box;
  padding: 30px;
  & section {
    width: 100%;
    background-color: #EFF1F3;
  }
}

section {
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 2px 4px #cfcbc8;
  border-radius: 3px;
}

table {
  padding: 5%;
  width: 100%;
  align-content: space-around;
  & th {
    font-weight: bold;
    text-align: left;
  }
  & td {
    text-align: left;
  }
  & tr:hover {
    background-color: $accent-color;
  }
  & img {
    display: block;
    margin: auto;
  }
}

.search--by--cust {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  & button {
    width: 405px;
    background-color: $accent-color;
    padding: 10px 0;
    height: 30px
  }
  & input {
    height: 20px;
    width: 400px;
    margin: 10px 0;
  }
}

.current--customer {
  margin-left: auto;
  margin-right: 15px;
}

.search__cust__button {
  margin: 10px 0;
}

.add__booking__form {
  & button {
    width: 300px;
    background-color: $accent-color;
    height: 30px;
  }
}

.db,
.upgrade {
  width: 25px;
  margin: auto;
}



